---
layout: default
---
   <!-- Stuff for jsarr tag  -->

    {% for js in page.jsarr %}
      <script type="text/javascript">
         {% include {{ js }} %}
      </script>
<script>
  var typed = new Typed('.element', {
    stringsElement: '#typed-strings'
  });
</script>
  <script type="text/javascript" src="{{ site.baseurl }}public/js/node_modules/instafeed.js/instafeed.min.js"></script>

    {% endfor %}

    <!-- End Stuff for jsarr tag  -->



<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>
